/* Container que segura o header todo */
.header-fixo {
    position: sticky;
    top: 0;
    z-index: 1050;
    /* acima do conteúdo */
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}


/* Cursor apenas nos clicáveis */
button,
i[title],
.menu-categorias .categoria,
.menu-mobile-content div,
.menu-mobile-content button {
    cursor: pointer;
}


.logo {
    max-height: 90px;
}

.search-box input {
    border-right: none;
    border-radius: 0.25rem 0 0 0.25rem;
}

.search-box button {
    border-left: none;
    border-radius: 0 0.25rem 0.25rem 0;
}

.header-topo {
    background-color: #ff6d00;
}

.header-principal .badge {
    font-size: 0.6rem;
}

.menu-categorias {
    background-color: #041f3a !important;
}

.menu-categorias .categoria {
    margin: 0 12px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s;
}

.menu-categorias .categoria:hover {
    text-decoration: underline;
}

.menu-categorias .destaque {
    font-weight: bold;
}

/* MENU MOBILE (DRAWER) */
.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1050;
}

.menu-mobile.aberto {
    display: block;
}

.menu-mobile-content {
    background: white;
    width: 250px;
    height: 100%;
    padding: 20px 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}