<app-header></app-header>
<!-- SLIDER DESKTOP -->
<div id="carouselDesktop" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/banner-1.jpg" class="d-block w-100" alt="Banner Desktop 1" />
        </div>
        <div class="carousel-item">
            <img src="assets/banner-2.jpg" class="d-block w-100" alt="Banner Desktop 2" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDesktop" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselDesktop" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
    </button>
</div>

<!-- SLIDER MOBILE -->
<div id="carouselMobile" class="carousel slide d-block d-md-none" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/banner-mobile-1.jpg" class="d-block w-100" alt="Banner Mobile 1" />
        </div>
        <div class="carousel-item">
            <img src="assets/banner-mobile-2.jpg" class="d-block w-100" alt="Banner Mobile 2" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMobile" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMobile" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
    </button>
</div>

<app-promocao></app-promocao>