/* You can add global styles to this file, and also import other style files */
.bg-radiauto {
    background-color: #f46600;
}

.modal-content {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: none;
}

.modal-content .btn-close {
    filter: brightness(0) invert(1);
}

.modal.fade .modal-dialog {
    transform: translateY(-30px);
    transition: transform 0.3s ease-out;
}

.modal.fade.show .modal-dialog {
    transform: translateY(0);
}

.btn-orange {
    background-color: #f46600;
    color: white;
    border: none;
}

.btn-orange:hover {
    background-color: #d95400;
}

.orange-btn {
    background-color: #ff6d00 !important;
    color: white !important;
    border: 1px solid transparent !important;
}

.orange-btn:hover {
    background-color: white !important;
    color: #ff6d00 !important;
    border: 1px solid #ff6d00 !important;
}

.blue-btn {
    background-color: #041f3a !important;
    color: white !important;
    border: 1px solid transparent !important;
}

.blue-btn:hover {
    background-color: white !important;
    color: #041f3a !important;
    border: 1px solid #041f3a !important;
}

.orange-text {
    color: #ff6d00 !important;
}

.blue-text {
    color: #041f3a !important;

}

.orange {
    background-color: #ff6d00 !important;
    border: 1px solid transparent !important;

}

.blue {
    background-color: #041f3a !important;
    border: 1px solid transparent !important;
}

.btn-outline-blue {
    color: #041f3a !important;
    border-color: #041f3a !important;
}

.btn-outline-blue:hover {
    background-color: #041f3a !important;
    color: #fff !important;
}

.btn-outline-orange {
    color: #ff6d00 !important;
    border-color: #ff6d00 !important;
}

.btn-outline-orange:hover {
    background-color: #ff6d00 !important;
    color: #fff !important;
}